// .section {
//   display: flex;
//   justify-content: flex-end;

//   margin: 0rem 0.7rem 0.7rem;
// }

// .section select {
//   /* border-style: none; */
//   outline: none;
//   border: 1px solid #222;

//   padding: 0.3rem 0.7rem;
// }

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 988px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 736px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 350px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
