.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 100%;
  background: white;
  position: sticky;
  bottom: 0;
  left: 0;

  .form {
    display: flex;
    padding: 0rem 1rem;

    input {
      border: 1px solid #222;
      width: 55%;
      height: 100%;
      padding: 0.5rem 1rem;
      box-sizing: border-box;
      margin-right: 1rem;
      font-size: 1.2vw;
    }

    .button {
      cursor: pointer;
      height: 100%;
      padding: 0.5rem 1rem;
      text-transform: uppercase;
      border-style: solid;
      border-width: 1px;
      border-color: black;
      color: white;
      font-size: 1vw;
      background-color: black;
    }

    .button:hover {
      background: white;
      border-color: black;
      color: black;
    }
  }

  .extra-info {
    margin: 0rem 1rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 1.2vw;
  }

  .extra-info > p:active {
    border-bottom: 1px solid #222;
  }

  .only-portrait {
    display: none;
  }
}

@media screen and (max-width: 770px) {
  .grid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 111.29px;
    position: relative;

    .form {
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      height: 63.29px;
      margin-top: 1rem;
      padding: 0;

      input {
        width: 20em;
        height: 27.59px;
        margin: 0;
        text-align: center;
        padding: 0;
        font-size: small;
        margin-bottom: 0.4rem;
      }

      .button {
        width: 20em;
        height: 27.59px;
        font-size: small;
        padding: 0;
        font-weight: bold;
      }
    }
    .extra-info {
      width: 100%;
      /* height: 100px; */
      justify-content: space-around;
      font-size: medium;
      margin: 0rem;
    }
    .extra-info > p {
      display: flex;
      align-items: center;
      padding: 0px 38.36px;
      height: 48px;
    }
  }
}

@media screen and (max-width: 636px) {
  .extra-info {
    display: none;
  }

  .only-portrait {
    display: flex;
    align-items: center;
    height: 48px;
  }
  .only-portrait > p {
    padding: 0px 38.36px;
  }
}
