.button {
  text-transform: uppercase;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  color: white;
  background-color: black;
}

@media (hover: hover) {
  .button:hover {
    background: white;
    border-color: black;
    color: black;
    transition: 0.2s;
  }
}
