.grid-cell {
  aspect-ratio: 1;
  padding: 1rem 2rem;
}

.image-container {
  height: 100%;
  background: white;
  position: relative;
}

.image {
  padding: 0.5rem 0.5rem;
  object-fit: cover;
}

.bar {
  height: 2px;
  border-radius: 2px;
  width: 4.5%;
  margin: 0.5rem;
  background: rgba(255, 255, 255, 0.726);
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10.56px;

  cursor: pointer;
  color: white;

  aspect-ratio: 1;
  place-self: stretch;
  font-size: 1vw;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.description > div:first-child,
.description > div:last-child {
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.25em;
  /* line-height: 1.5; */
}

@media (max-width: 922px) {
  .description {
    font-size: 1.2vw;
  }
}
@media (max-width: 645px) {
  .description {
    font-size: 2vw;
  }
}
