* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  font-family: Brown-Regular, Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: #fff;
  line-height: 1.5;
  letter-spacing: 0.01em;
}
