.section {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  margin: 0 3rem;
  gap: 4rem;
  max-width: 50rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  text-align: center;

  h2 {
    letter-spacing: 0.15em;
    margin-top: 1.5rem;
  }

  p {
    letter-spacing: 0.15em;
    margin-top: 2rem;

    a {
      text-decoration: none;
    }
  }
}

.container Button {
  padding: 10px 50px;
  cursor: pointer;

  letter-spacing: 0.25em;

  font-weight: 600;
}
