.info-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 40%;
  margin: 1.2rem 1.2rem 1.2rem 0rem;
  gap: 0.5rem;

  .inc-dec-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    h4 {
      color: white;
      font-size: 1.5vw;
    }
  }
}

.inc-dec-buttons Button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  font-size: 1.1333em;
  padding: 0.2em 1em;
  font-size: large;
  background: transparent;
  cursor: pointer;
}

.add-to-cart {
  background: transparent;
  cursor: pointer;
  font-weight: bold;
  padding: 1em 0.5em;
  font-size: x-small;
  letter-spacing: 0.25em;
  /* line-height: 1.5; */
}

@media screen and (min-width: 451px) and (max-width: 862px) {
  .info-buttons {
    width: 30%;
  }
}

@media screen and (max-width: 862px) {
  .inc-dec-buttons > h4 {
    color: white;
    font-size: 3vw;
  }
}

/* @media (hover: hover) {
  .inc-dec-buttons:hover {
    background: blue;
  }
} */
